<div class="container">
  <div [hidden]="submitted">
    <input type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" [inputFormatter]="formatMatches" [resultFormatter]="formatMatches"/>
    <br>
    <div class="employee-display">
      <p>
        {{ model.name }}
      </p>
      <p>
        <a href="mailto:{{model.email}}">{{ model.email }}</a>
      </p>
      <p>
        {{ model.title }}
      </p>
      <p>
        {{ model.location }}
      </p>
      <p>
        {{ model.phone }}
      </p>
      <p>
        {{ model.extension }}
      </p>
    </div>
  </div>
</div>