.form-control {
    width: 300px;
}

.employee-display {
    color: #088bce;
}

ngb-typeahead-window {
    width: 300px;
}

button {
    background-color: transparent;
    color: #088bce;
    text-align: left;
}